/* Stylesheet for Lifespan Organization */

:root {
    --content-color: #202020;
    --article-text: #fff;
}

/* Global Styling */
* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; Already in reboot.css file */
    font-family: sans-serif;
}

#root > div { /* Required for automatic footer */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--content-color);
    color: white;
}

/* Header */

.topbar {
    display: flex;
    height: 12vh;
    min-height: 100px;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.topbar ul {
    display: flex;
    margin: auto auto;
}

.headlink {
    list-style-type: none;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 25px;
    color: #000000;
    font-size: 1.5em;
}

.headlink:hover {
    color: #0073c9;
}

#selected {
    color: #0073c9;
}


#logo {
    width: 18em;
    margin: auto;
}

/* index page html */
#index-page {
    background-color: var(--content-color);
    color: var(--article-text);
}

.two-box {
    display: flex;
    width: 70%;
    margin: 3% auto 0 auto;
    /* height: 100px; */
}

.sub-box, .title-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#two-section div{
    margin: auto;
}

.title-box h1 {
    color: #3BA9FB;
    font-size: 2.5rem;
}

.title-box p {
    font-size: 1.5rem;
}

.home-btns {
    color: var(--article-text);
    text-decoration: none;
    border-radius: 20px;
    padding: 2% 0;
    width: 35%;
    text-align: center;
    font-size: 1.35rem;
}

#signup-btn:hover {
    color: inherit;
}

#description-box {
    display: flex;
    flex-direction: row;
}

#description-box div { /* Becareful with this one */
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#description-box div img {
    background-color: #646464;
    border-radius: 35px;
    width: 45%;
}


.imgtag {
    display: block;
    margin: auto;
    width: 75%;
    box-shadow: 0 0 20px #000;
    border-radius: 15%;
}

#highlight {
    text-transform: uppercase;
    font-weight: bold;
    color: #ff6161;
}

/* Main */

#starter-page {
    background-color: #8d2828;
    /* background-image:url(../images/sleeping_1.jpg); */
    color: #ffffff;
    height: 45vh;
    min-height: 420px;
}

#starter-paragraph {
    width: 30%;
    height: 100%;
/*    height: 25%;*/
/*    border: 4px solid #3e90ff;*/
    padding: 5% 25px;
    margin: 0px 18%;
}

#starter-paragraph h1 {
    margin: 13px 0;
}

#quote {
    font-style: italic;
    width: 80%;
/*    margin: 5px 50%;*/
    text-align: right;
}

/* (Main) Cards */
#card-title {
    text-align: center;
    width: 100%;
    margin: 3.5vh 0;
}

#group-cards {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}

.card {
    width: 25%;
    margin: 25px auto 0 auto;
    height: 40vh;
    background-color: #dedede;
}

.card img {
    width: 100%;
}

.card-paragraph {
    padding: 0 10px;
}

.card-paragraph h1 {
    margin: 5px 0;
}

/* About Page */
#about-page {
    width: 50%;
    margin: 0 auto 0 auto;
    color: #fff;
}

#about-image {
    background-position: center;
    height: 250px;
    background-image: url(img/aboutpage_image1.jpg);
}

#article-text {
    width: 90%;
    margin: auto;
    padding-top: 5px;
}

/* Footer */
footer {
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    margin-top: auto;
}

.footer-section { /* Might need to change this into an ID soon */
    width: 50%;
    display: flex;
}

.footer-section a {
    color: #FFF;
    text-decoration: none;
}

#copyright {
    padding-left: 10%;
}

#copyright p, #copyright a {
    margin: auto;
}

#policy {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10%; /* This is scuffed, check for margining on the #policy items */
}

#policy a, #copyright p, #copyright a{
    margin: auto 5% auto 4px;
}

#burgerContents {
    z-index: 1;
    background-color: white;
    margin-top: 100px;
    position: absolute;
    right: 0;
    padding: 10px;
    max-height: calc(100vh - 100px);
    overflow: scroll;
}

#burgerContents > a {
    list-style-type: none;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
}

#burgerContents > a:hover {
    color: #0073c9;
}

.form-background {
    background-color: #333333;
    padding: 4%;
    border-radius: 10px;
    box-shadow: 2px 4px 4px #000000;
}

.form-title {
    text-align: center;
    color: #dddddd;
}

.form-link-default {
    color: #3BA9FB;
    text-decoration: inherit;
}

.form-link {
    text-decoration: inherit;
}

.inputAlignHeight > div > input, .inputAlignHeight > div > select, .inputAlignHeight > p {
    float: right;
    line-height: 100%;
    border-radius: 5px;
}

.error-page {
    padding: 15vh;
    text-align: center;
}

.error-page > h2 {
    font-size: 100px;
}

.container-fluid > h1 {
    font-weight: bold;
    text-align: center;
    padding-bottom: 1%;
}

.account-form {
    min-height: 250px;
    padding: 25px;
}

.centered {
    text-align: center;
}

#settingsSubmitButton, #dataFormSubmitButton {
    float: none;
    padding: 10px;
}

.nav-tabs {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    flex-grow: 1;
    text-align: center;
}

#userNameInput {
    width: 80%;
    height: 38px;
}

#userNameSearch {
    width: 10%;
    float: right;
}

#userFirstNameInput {
    width: 40%;
    height: 38px;
}

#userLastNameInput {
    width: 40%;
    height: 38px;
}

#userValueInput {
    width: 80%;
    height: 38px;
}

#userValueSearch {
    width: 10%;
    float: right;
}

#notice {
    float: none;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

#info {
    text-align: center;
    width: 100%;
}

#results {
    word-wrap: break-word;
    table-layout: fixed;
    min-width: 100%;
    display: block;
    height: auto;
    overflow-x: scroll;
}

#resultsSBV {
    word-wrap: break-word;
    table-layout: fixed;
    min-width: 100%;
}

#results > tbody > tr > th, #resultsSBV > tbody > tr > th, #results > tbody > tr > td, #resultsSBV > tbody > tr > td {
    border: solid;
    border-style: double;
    padding: 1vh;
}