/* Stylesheet for Lifespan Organization */

:root {
    --content-color: #202020;
    --article-text: #fff;
}

/* Global Styling */
* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; Already in reboot.css file */
    font-family: sans-serif;
}

#root > div { /* Required for automatic footer */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--content-color);
    color: white;
}

/* Header */

#topbar {
    display: flex;
    height: 12vh;
    min-height: 100px;
    background-color: white;
}

#topbar ul {
    display: flex;
    margin: auto auto;
}

.headlink {
    list-style-type: none;
    font-weight: bold;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
}

#selected {
    color: #0073c9;
}


#logo {
    width: 18em;
    margin: auto;
}

/* index page html */
#index-page {
    background-color: var(--content-color);
    color: var(--article-text);
    height: 100rem;
}

.two-box {
    display: flex;
    width: 70%;
    margin: 3% auto 0 auto;
    /* height: 100px; */
}

.sub-box, #title-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#two-section div{
    margin: auto;
}

#title-box h1 {
    color: #3BA9FB;
    font-size: 2.5rem;
}

#title-box p {
    font-size: 1.5rem;
}

#signup-btn {
    background-color: #0C67AD;
    color: var(--article-text);
    text-decoration: none;
    border-radius: 20px;
    padding: 2% 0;
    width: 35%;
    text-align: center;
    font-size: 1.35rem;
}

#signup-btn:hover {
    color: inherit;
}

#description-box {
    display: flex;
    flex-direction: row;
}

#description-box div { /* Becareful with this one */
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#description-box div img {
    background-color: #646464;
    border-radius: 35px;
    width: 45%;
}


#dogtag {
    display: block;
    margin: auto;
    width: 75%;
    box-shadow: 0 0 20px #000;
}

#highlight {
    text-transform: uppercase;
    font-weight: bold;
    color: #ff6161;
}

/* Main */

#starter-page {
    background-color: #8d2828;
    /* background-image:url(../images/sleeping_1.jpg); */
    color: #ffffff;
    height: 45vh;
    min-height: 420px;
}

#starter-paragraph {
    width: 30%;
    height: 100%;
/*    height: 25%;*/
/*    border: 4px solid #3e90ff;*/
    padding: 5% 25px;
    margin: 0px 18%;
}

#starter-paragraph h1 {
    margin: 13px 0;
}

#quote {
    font-style: italic;
    width: 80%;
/*    margin: 5px 50%;*/
    text-align: right;
}

/* (Main) Cards */
#card-title {
    text-align: center;
    width: 100%;
    margin: 3.5vh 0;
}

#group-cards {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}

.card {
    width: 25%;
    margin: 25px auto 0 auto;
    height: 40vh;
    background-color: #dedede;
/*    padding: 0 25px;*/
}

.card img {
    width: 100%;
}

.card-paragraph {
    padding: 0 10px;
}

.card-paragraph h1 {
    margin: 5px 0;
}

/* About Page */
#about-page {
    background-color: #202020;
    width: 50%;
    margin: 0 auto 0 auto;
    color: #fff;
}

#about-image {
    background-position: center;
    height: 250px;
    background-image: url(img/aboutpage_image1.jpg);
}

#article-text {
    width: 90%;
    margin: auto;
    padding-top: 5px;
}

/* Footer */
footer {
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    margin-top: auto;
}

.footer-section { /* Might need to change this into an ID soon */
    width: 50%;
    display: flex;
}

.footer-section a {
    color: #FFF;
    text-decoration: none;
}

#copyright {
    padding-left: 10%;
}

#copyright p, #copyright a {
    margin: auto;
}

#policy {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10%; /* This is scuffed, check for margining on the #policy items */
}

#policy a, #copyright p, #copyright a{
    margin: auto 5% auto 4px;
}

.inputAlignHeight > div > input, .inputAlignHeight > div > select {
    float: right;
    line-height: 100%;
    border-radius: 5px;
}

.form-background {
    background-color: #333333;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 2px 4px 4px #000000;
}

.form-title {
    text-align: "center";
    color: "#dddddd";
}