/*Admin Search Page*/
table, th, td {
    border: 3px solid lightblue;
    table-layout: auto;
  }
  th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
  }
